<<<<<<< HEAD
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
=======
<% provide(:title, 'Contact Us') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact us</a>.
</p>
>>>>>>> bdf4c30e0eb9659e87212ba7babfe856f5d29ee1
